:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --animation-delay: 1500ms;  /* Default delay (1500ms) */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  /* background: linear-gradient(to top, #06131a, #2e2c2e);  */
  background: linear-gradient(to bottom, #003049, #264656); 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  /* border-color: #646cff; */
}
